<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="EpicNinjaStack.Installer" Language="1033" Version="1.0.0.0" Manufacturer="..." UpgradeCode="8b992d62-dc00-4363-b922-16f9893e3ea3">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="EpicNinjaStack.Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="EpicNinjaStack" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ClientExeComponent">
        <File Id="ClientExe" Source="EpicNinjaStack.Client.exe"/>
      </Component>
      <Component Id="DataAccessDllComponent">
        <File Id="DataAccessDll" Source="EpicNinjaStack.DataAccess.dll"/>
      </Component>
      <Component Id="MvvmDllComponent">
        <File Id="MvvmDll" Source="EpicNinjaStack.MVVM.dll"/>
      </Component>
      <Component Id="DomainDllComponent">
        <File Id="DomainDll" Source="EpicNinjaStack.Domain.dll"/>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>